@define-color border #4c566a; 
@define-color foreg #d8dee9;
@define-color backg #2e3440;

* {
  border: none;
  border-radius: 0px;
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: 'NotoSans Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 11px;
  font-weight: bold;
  min-height: 0;
  transition: 0.1s;
}

window#waybar {
  background-color: transparent;
  color: @foreg;
  padding-left: 15px;
  padding-right: 15px;
}

window#waybar.empty #window {
  background-color: transparent;
  border-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
}

tooltip {
  background: @backg;
  color: @foreg;
  border-radius: 10px;
  border-width: 1.5px;
  border-style: solid;
  border-color: @border;
  opacity: 1;
}

#workspaces button {
  color: #434c5e;
  border-radius: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0px 5px 0px 5px;
  margin-left: 3px;
  margin-right: 3px;
  transition: 0.3s;
}

#workspaces button.active {
  color: @foreg;
  background: #3b4252;
  border-radius: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0px 15px 0px 15px;
}

#workspaces button:hover{
  color: @backg;
  background: @foreg;
}

#workspaces button.empty {
  background-color: transparent;
  border-color: transparent;
}

#language,
#cpu,
#memory,
#custom-power_profile,
#custom-weather,
#custom-vpn,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
  background: @backg;
  opacity: 1;
  padding: 0px 10px;
  margin: 0;
  margin-top: 5px;
}

#cpu {
  color: @foreg;
  padding-left: 10px;
  border-bottom: 2px solid @border;
  border-top: 2px solid @border;
}

#memory {
  border-radius: 0px 12px 12px 0px;
  margin-right: 20px;
  color: @foreg;
  padding-left: 10px;
  padding-right: 15px;
  border-right: 2px solid @border;
  border-top: 2px solid @border;
  border-bottom: 2px solid @border;
}

#language {
  color: @foreg;
  border-radius: 12px 0px 0px 12px;
  padding-left: 15px;
  border-left: 2px solid @border;
  border-top: 2px solid @border;
  border-bottom: 2px solid @border;
}

#tray {
  border-radius: 12px;
  margin-left: 15px;
/*    padding: 0px 4px; */
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid @border;
}

#tray.empty {
  background-color: transparent;
  border-color: transparent;
  border: 0px;
}

#workspaces {
  border-radius: 12px;
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid @border;
}

#custom-power_profile {
  color: #a6e3a1;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 5px;
  border: 2px solid @border;
}

#clock {
  color: @foreg;
  border-radius: 12px;
  margin-left: 5px;
  border-right: 0px;
  transition: 0.3s;
  padding-right: 13px;
  padding-left: 13px;
  border: 2px solid @border;
}

#network {
  color: @foreg;
  padding-left: 10px;
  border-top: 2px solid @border;
  border-bottom: 2px solid @border;
}

#network.disconnected {
  color: #f5c2e7;
  border-top: 2px solid @border;
  border-bottom: 2px solid @border;
}

#pulseaudio {
  color: @foreg;
  border-left: 0px;
  border-top: 2px solid @border;
  border-bottom: 2px solid @border;
  padding-right: 10px;
}

#pulseaudio.microphone {
  color: #b4befe;
  border-radius: 20px 0px 0px 20px;
  border-left: 2px solid #89b4fa;
  border-top: 2px solid #89b4fa;
  border-right: 0px;
  border-bottom: 2px solid #89b4fa;
  padding-left: 15px;
}

#pulseaudio.muted {
  color: #f38ba8;
}

